.App {
  text-align: center;
}

/* The grid-template-columns property defines the number of columns in your grid layout, and it can define the width of each column. */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  justify-content: centre;
}
.grid-item {
  background-color: #ffffffcc;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.highlighted {
  background-color: green;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.prime {
  background-color: blue;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.key {
  background-color: #ffffffcc;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 25px;
  text-align: center;
}











